# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    
    # Force backend tp use test DB
    env:
      NODE_ENV: test

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        
    steps:
      - name: Checkout repository
      - uses: actions/checkout@v4

      - name: Install SQLite
        run: sudo apt-get install -y sqlite3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json
          
        # Install backend dependencies (inside the backend folder)
      - name: Install backend dependencies
        run: cd backend && npm ci
        
        # Run migrations on test DB
      - name: Run migrations
        run: cd backend && npm run migrate
        
        # Run seed script to populate test DB
      - name: Seed test database
        run: cd backend && npm run seed

      # Run backend tests
      - name: Run tests
        run: cd backend && npm test
